<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body}, 'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <!--/*thymesVar id="vets" type ="com.springframework.petclinictutorial.model.Vet"*/-->
    <div class="h4" th:text="'Veterinarians'">List of Vets...</div>
    <table class="table table-striped">
        <caption>List of veterinarians and their specialities</caption>
        <thead class="thead-dark text-light ">
        <tr>
            <th class="font-weight-normal">Name</th>
            <th class="font-weight-normal">Specialties</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
            <td>
                <span th:each="specialty : ${vet.specialties}"
                      th:text="${specialty.description + ' '}">
                </span>
                <span th:if="${vet?.specialties?.size() == 0}">none
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>